html, body 
{
    margin:0;
	padding:0;
	height:100%;
    background-color: white;
}

table
{
    width:100%
}

#header{
    font-family: FangSong;
    color: white;
    background-color: Silver;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

#menu-bar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: gray;
    text-align: center;
}


#menu-tree{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
    height: 100%;
    display: block;
    /*min-height: 500px;*/
}




/*#wrapper {
	min-height:100%;
	position:relative;
}*/

.headerLinks{
    padding: 50px;
    font-family:@Batang;
    color:White;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-decoration:none;
    margin-bottom:50px;
    width:100%;
}


/*Layout*/
#container {
   min-height:100%;
   position:relative;
   width:100%;
}
#header {
   padding:5px;
   background:#49D6BF;
}
#wrapper{
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#sideBar{
    background-color:#E1EDC2;
    height:100%;
    width: 15%;
    float:left; /* add this */
    min-height:100%;
}
#body {
   padding:0px;
   padding-bottom:60px;   /* Height of the footer */
   /*overflow: hidden;*/ /* if you don't want #second to wrap below #first */
   width:100%;
}

#footer {
   position:absolute;
   bottom:0;
   height:70px;   /* Height of the footer */
   background:#D64960;
   
   padding: 0px;
   text-align: center;
   
   color: White;  
   width:100%;
}

#navBar {
   padding:0px;
   background:#CEC2ED;  /*#9E88DC;*/
   height:50px;
   overflow:hidden;
}

#navRow{
    width:100%;
}

#breadcrumbs{
    width: 15%;
}

#middle{
    width:70%;
}

#user{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: Black;
    text-align: center;
    width: 15%;
}

#menu-cell{
    background-color: Fuchsia;
}

/*Footer list*/
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display:block;
}

ul li {
    background-image: url(sqpurple.gif);
    background-repeat: no-repeat;
    background-position: 0px center; 
    padding-left: 0px; 
    display:inline; 
}