body {
    background-color: black;
}

h1{
    
}

#mainTable{
    width: 100%;
}

#header{
    font-family: FangSong;
    color: white;
    background-color: Silver;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

#user{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: gray;
    text-align: center;
    width: 30%;
    
}

#menu-bar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: gray;
    text-align: center;
}

#menu-tree{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: gray;
    text-align: center;
}

#breadcrumbs{
    background-color: Gray;   
    }

#content{
background-color: Gray;
}

#footer{
    font-family: Calibri;
    color: white;
    background-color: silver;
    text-align: center;
}