html, body 
{
    margin:0;
	padding:0;
	height:100%;
    background-color: white;
}

h1{
    
}

#mainTable{
    width: 100%;
}

#header{
    font-family: FangSong;
    color: white;
    background-color: Silver;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

#user{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: gray;
    text-align: center;
    width: 20%;
}

#menu-bar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: gray;
    text-align: center;
}

#menuRow{

}

#mainRow{
    /*height: 100%;
    direction: inherit;
    elevation: below;
    float:inherit;
    min-height: 100%;
    vertical-align:bottom;
    
   padding:10px;
   padding-bottom:60px;*/
}

#menu-tree{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
    height: 100%;
    display: block;
    /*min-height: 500px;*/
}

#breadcrumbs{
    width: 30%;
}

#content
{

}



#wrapper {
	min-height:100%;
	position:relative;
}

.headerLinks{
    padding: 50px;
    font-family:@Batang;
    color:White;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-decoration:none;
    
}



#container {
   min-height:100%;
   position:relative;
}
#header {
   padding:0px;
   background:#49D6BF;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#D64960;
   
   padding: 30px;
   text-align: center;
   
   color: White;  
}

/*#footer{
    font-family: Calibri;
    color: white;
    background-color: silver;
   

	position:absolute;

	width:100%;
	height:30px;
	
	bottom:0;
	left:0;
	
}*/