<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

      <connectionStrings>
            <add name="GameConnectionString" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=StockMarketGame;Integrated Security=True" providerName="System.Data.SqlClient"/>
      </connectionStrings>


    <system.web>
        <roleManager enabled="true">
              <providers>
                <clear />

                    <add connectionStringName="GameConnectionString" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
                    <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
                      type="System.Web.Security.WindowsTokenRoleProvider" />
              </providers>
        </roleManager>

        <authentication mode="Forms">
            <forms name=".ASPXFORMSAUTH" loginUrl="~/Guest/Login.aspx" defaultUrl="~/ScoreBoard.aspx" requireSSL="false" protection="All" slidingExpiration="true" path="/" timeout="240"  cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
        </authentication>

        <membership>
              <providers>
                    <clear/>
                    <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="GameConnectionString"
                         enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
                         maxInvalidPasswordAttempts="25" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
                         applicationName="/"/>
              </providers>
        </membership>
    
		<compilation debug="true" targetFramework="4.0"/>
        
        <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
            <providers>
                <add name="XmlSiteMapProvider"
                  description="Default SiteMap provider."
                  type="System.Web.XmlSiteMapProvider "
                  siteMapFile="Web.sitemap"
                  securityTrimmingEnabled="true" />
            </providers>
        </siteMap>
	</system.web>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

</configuration>
